<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com" ></script>
</head>
<body>
    <div class="w-full justify-items-center h-screen p-5 bg-zinc-900">

        <h3 class="text-3xl text-zinc-300 mb-5">Create Account</h3>

        <form class="w-1/5 text-white tracking-tighter flex flex-col gap-3" action="/register" method="post">
            
            <input class="bg-transparent px-3 py-2 outline-none rounded-lg border-2 border-zinc-800" type="text" placeholder="name" name="name">
            <input class="bg-transparent px-3 py-2 outline-none rounded-lg border-2 border-zinc-800" type="text" placeholder="username" name="username">
            <input class="bg-transparent px-3 py-2 outline-none rounded-lg border-2 border-zinc-800" type="number" placeholder="age" name="age">
            <input class="bg-transparent px-3 py-2 outline-none rounded-lg border-2 border-zinc-800" type="eamil" placeholder="email" name="email">
            <input class="bg-transparent px-3 py-2 outline-none rounded-lg border-2 border-zinc-800" type="password" placeholder="password" name="password">
            
            <input class="px-3 py-2  bg-blue-500 rounded-lg" type="submit" value="Created Account">
        </form>
        <div class="text-white mt-5">
        <h3>Already a user? click here to go to <a class="underline" href="/login">Login</a> Page</h3>
    </div>
    </div>
    
</body>
</html>